.titleLog  {
        background-color: black;
           color: white;
           height: 35px;
           margin-bottom: 0 !important;
           border-top-left-radius: 10px;
           border-top-right-radius: 10px;
           font-size: 20px;
           padding-left: 10px;
}

.boxLog {
    height: 555px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
    padding: 5px;
    padding-top: 0px;
}

.scroll {
    scrollbar-width: thin;
    overflow: overlay;
    height: 550px;
}