.deleteButton {
    background-color: rgba(245, 82, 82, 0.858);
    color: white;
    margin-right: 0.5em;
    border-radius: 100%;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
