.boxStatus {
    height: 200px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
    scrollbar-width: thin;
    overflow: overlay;
    padding: 5px
}

.titleStatus {
     background-color: black;
        color: white;
        height: 35px;
        margin-bottom: 0 !important;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 20px;
        padding-left: 10px;
}
.table {
    display: flex;
    background-color: beige;
    padding-left: 5px;
}

.call {
    margin-left: 110px;
}

.data {
    margin-left: 10px;
}